.login_root{
  width: 96vw;
  border-bottom: 5px solid white;
  height: 95vh;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #3F8394;
  border-bottom-width: 450px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  }
.login_bg {
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
   
  }
  .login_bg::after{
    content: "";
    width: 200%;
    height: 0;
    padding-bottom: 200%;
    border-radius: 100%;
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
  }
  .login_textField{
    padding: 10px 40px 10px 10px;
    height: 40px;
    text-align: start;
    border: 2px solid #0a546d;
    font-size: initial;
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    background: #3F8394;
  }
  .login_textField:focus{
    border: 2px solid #0a546d;
    border-left: none;
    outline-width: 0;
  }
  .login_textField::placeholder{
      color: #244C7C;
      text-align: center;
      font-size: larger;
      font-style: italic;
  }
  .login_textField:invalid{
    border-color: red;
  }
  .login_textField1{
    border: 2px solid #fff;
    height: 40px;
    padding: 10px 60px 10px 60px;
    font-size: initial;
    border-color: white;
    border-right: none;
    background: #3F8394;
    border-radius: 50px 0px 0px 50px;
  }
  .login_textField1::placeholder{
    color:#244C7C;
    text-align: center;
    font-size: larger;
    font-style: italic;
  }
  .login_textField1:focus{
    border: 2px solid #fff;
    border-right: none;
    outline-width: 0;
  }
  .login_button1 {
    width: 100%;
    background-color: #244C7C;
    border-radius: 300px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: 28px;
    font-weight:600;
    opacity: 0.8;
  }
  .login_button1:hover{
      opacity: 1;
  }
  .errorMessage{
    color: red;
  }
  .login_textField:-internal-autofill-selected {
    background-color:#3F8394 ;
    color: #000;
  }
  .login_textField1:-internal-autofill-selected {
    background-color:#3F8394 ;
    color: #000;
  }
  .input-icon-left {
    position: absolute;
    padding: 10px 10px;
  }
  .input-icon-right {
    position: absolute;
    padding: 10px 10px;
    right: 0;
  }
  .header{
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    padding: 16px;
    color: #0F4C7C;
    text-align: center;
    font-family: 'Poppins';
  }