.DialogStyles {
    width:300px;
    margin :0 auto;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-Index:999;
    background-color: rgb(167, 15, 91);
    padding:10px 60px 40px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:200px;
}

.DialogButton {
    padding:3px 8px;
    border-radius: 5px 5px 5px 5px;
    width:70px;
    height:50px;
    font-weight: bold;
    align-self:center;
    margin-bottom: 50px;
    bottom:80px;
    margin-top:20px;
    color:rgb(167, 15, 91);
}

.DialogText {
    align-items:center;
    margin-bottom:40px;
    margin-top:80px;
    color:white;
    font-weight:bold;
    font-family:sans-serif;
    align-self: center;
}

.Dialog{
    padding-top:140px;
    padding-left:100px;
    background-color: transparent;
    justify-content: center;

}