.qrdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.switch-div {
  text-align: center !important;
}

.qr-scan {
  width: 30%;
  margin: 0 auto;
  box-shadow:0;
}
.qr-textfield{
  width: 100%;
  height: 50px;
  box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%);
  border: 1px solid #000;
  text-align: center;
  font-size: larger;
}
.qr-textfield:focus-visible{
  outline: 1px solid #000;
}
.qr-button{
  width: 100%;
  height: 50px;
  box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%);
  border: 1px solid #000;
  text-align: center;
  font-size: larger;
  cursor: pointer ;
  background-color: #3dd3f1;
  color: white;
}
.switch-pos{
  position: relative;
  top: 100px;
}
.qr-scandiv{
width: 100%;
margin: 32px 0px;
display: flex;
justify-content: center;
align-items: center;
}
